//        VARIABLES

/*     couleurs      */

$couleurprimaire : #9356DC;
$couleursecondaire: #FF79DA;
$couleurtertiaire: #99E2D0;
$couleurfond_1 : #F2F2F2;

/*       polices        */

$policetitre: "Shrikhand";
$policetexte: "Roboto";