//        VARIABLES

/*     couleurs      */

$couleurprimaire : #9356DC;
$couleursecondaire: #FF79DA;
$couleurtertiaire: #99E2D0;
$couleurfond_1 : #F2F2F2;

/*        MIXINS         */
@mixin arriereplan_clair{
    background-color: $couleurfond_1;
}

@mixin arriereplan_fonce{
    background-color: darken($couleurfond_1, 5%);
}

@mixin titre1{
    font-size: 20px;
    font-weight: bolder;
    color: black;
}

@mixin textegris {
    color: darken($couleurfond_1, 50%);
    font-size: 15px;
}

@mixin shadow{
    box-shadow: 0px 5px 10px 1px darken($couleurfond_1, 20%);
}

@mixin dark_shadow{
    box-shadow: 0px 5px 10px 5px darken($couleurfond_1, 25%);
}


/*       polices        */

$policetitre: "Shrikhand";
$policetexte: "Roboto";

/*           KEYFRAMES              */

@keyframes apparition {
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

@keyframes visibilite {
    0%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }

}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes scale{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.5);
    }

    100%{
        transform: scale(1);
    }
}

@keyframes disparition_loader{
    0%{
        opacity:1;
        display: block;
    }
    90%{
        opacity: 1;
        display: block;
    }
    100%{
        opacity: 0;
        display: none;
        z-index: -10;
    }
}

@keyframes apparition_main{
    0%{
        opacity:0;
        display: none;
    }
    70%{
        opacity: 0;
        display: none;
    }
    100%{
        opacity: 1;
        display: block;
        z-index: 10;
    }
}





/*       PAGE PRINCIPALE            */

body{
    position: relative;
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-family: $policetexte;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoohmyfood{
    width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#decouvrir{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-items: center;
    width: 100%;
}

#explorer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#paris{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(darken($couleurfond_1, 20%) 5%, 7%, darken($couleurfond_1, 5%) 15%);
}

#svglocalisation{
    padding-right: 15px;
}

.texte1{
    display: inline-block;
    text-align:
    center;
}

#reservez{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: $couleurfond_1;
    padding-bottom: 50px;
}

.titre1--centre{
    display: inline-block;
    text-align: center;
    width: 200px;
    margin-top: 30px;
    margin-bottom: 0px;
    @include titre1();
}

.texte2{
    display: inline-block;
    text-align: center;
    width: 300px;
    @include textegris();
}

.bouton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 151.5px;
    background: linear-gradient(to bottom right, $couleursecondaire,$couleurprimaire);
    padding: 15px 15px 15px 15px;
    border-radius: 50px;
    box-shadow: 0px 5px 10px 1px darken($couleurfond_1, 20%);
    filter: brightness(1);
    transition: all 200ms ease-in-out;
    &__lien{
        color: white;
        text-decoration: none;
        font-size: 14px;
    }
    &:hover{
        filter: brightness(1.3);
        box-shadow: 0px 5px 10px 5px darken($couleurfond_1, 40%);
    }
}

.bouton__commander{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px auto 20px auto;
    width: 151.5px;
    background: linear-gradient(to bottom right, $couleursecondaire,$couleurprimaire);
    padding: 15px 15px 15px 15px;
    border-radius: 50px;
    box-shadow: 0px 5px 10px 1px darken($couleurfond_1, 20%);
    filter: brightness(1);
    transition: all 200ms ease-in-out;
    &__lien{
        color: white;
        text-decoration: none;
        font-size: 14px;
    }
    &:hover{
        filter: brightness(1.3);
        box-shadow: 0px 5px 10px 5px darken($couleurfond_1, 40%);
    }
}

.fonctionnement{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
        &__etiquette{
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            @include arriereplan_clair();
            @include shadow();
            border-radius: 20px;
            height: 75px;
            margin-bottom: 20px;
                &:hover .fonctionnement__svg{
                    color: $couleurprimaire;
                }
                &:hover{
                    background-color: lighten($couleurprimaire, 35%);
                }
        }
        &__numero{
            position: absolute;
            top: 25px;
            left: -12.5px;
            display: inline-flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background-color: $couleurprimaire;
            height: 25px;
            width: 25px;
            border-radius: 50%;
        }
        &__numero--p{
            color: white;
            font-size: 15px;
            margin: 0px;
        }
        &__svg{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 20px;
            width: 20px;
            padding-left: 30px;
            padding-right: 30px;
            font-size: 20px;
            color: darken($couleurfond_1, 40%);
        }
        &__texte{
            display: inline-block;
            width: 240px;
            font-size: 16px;
            font-weight: bold;
        }
}

.titre1--noncentre{
    display: inline-block;
    width: 90%;
    margin-top: 30px;
    margin-bottom: 30px;
    @include titre1();
}

#restaurants{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include arriereplan_clair();
    padding-bottom: 40px;
}

.restaurant{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 337.5px;
    @include shadow();
    border-radius: 15px;
    margin-bottom: 20px;
        &__lien{
            text-decoration:none;
        }
        &__image{
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            width: 337.5px;
            height: 175px;
            overflow: hidden;
        }
        &__nouveau{
            position: absolute;
            top: 10px;
            right: 10px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 30px;
            width: 85px;
            border-radius: 3px;
            background-color: $couleurtertiaire;
            
        }
        &__description{
            width: 327.5px;
            display: flex;
            flex-direction: row;
            justify-content:space-between;
            align-items: center;
            padding-right: 10px;
            background-color: white;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
        }
        &__partietexte{
            padding-left: 10px;
        }
        &__titre{
            text-overflow: ellipsis;
            color: black;
            display: inline-block;
            width: 240px;
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 5px;
        }
        &__texte{
            text-overflow: ellipsis;
            color: black;
            margin-top: 0px;
        }
        &__coeur{
            position: relative;
            width: 25.08px;
            height: 30px;
            text-decoration: none;
            &--vide{
                color: black;
                opacity:1;
                position: absolute;
                font-size: 25px;
                height: 30px;
                transition: opacity 600ms;
                text-decoration: none;
            }
            &--plein{
                position: absolute;
                background: linear-gradient(to bottom right, $couleursecondaire,$couleurprimaire);
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                font-size: 25px;
                height: 0px;
                transition: height 700ms;
                text-decoration: none;
            }
        }
            
}

#lien-coeur{
    text-decoration: none;
    &:hover > .restaurant__coeur--plein{
    height: 30px;
    }
    &:hover > .restaurant__coeur--vide{
    opacity:0;
    }
    &:visited > .restaurant__coeur--plein{
        height: 30px;    
    }
    &:visited > .restaurant__coeur--vide{
        opacity:0;
    }
}



#liencoeur2{
    text-decoration: none;
    &:hover > .coeur2__plein{
    height: 30px;
    }
    &:hover > .coeur2__vide{
    opacity:0;
    }
    &:visited> .coeur2__plein{
        height: 30px;    
    }
    &:visited > .coeur2__vide{
        opacity:0;
    }
}

.coeur2{
    position: relative;
    width: 25.08px;
    height: 30px;
    text-decoration: none;
    &__vide{
        color: black;
        opacity:1;
        position: absolute;
        font-size: 25px;
        height: 30px;
        transition: opacity 600ms;
        text-decoration: none;
    }
    &__plein{
        position: absolute;
        background: linear-gradient(to bottom right, $couleursecondaire,$couleurprimaire);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-size: 25px;
        height: 0px;
        transition: height 700ms;
        text-decoration: none;
    }
}

#liencoeur3{
    text-decoration: none;
    &:hover > .coeur3__plein{
    height: 30px;
    }
    &:hover > .coeur3__vide{
    opacity:0;
    }
    &:visited> .coeur3__plein{
        height: 30px;    
    }
    &:visited > .coeur3__vide{
        opacity:0;
    }
}

.coeur3{
    position: relative;
    width: 25.08px;
    height: 30px;
    text-decoration: none;
    &__vide{
        color: black;
        opacity:1;
        position: absolute;
        font-size: 25px;
        height: 30px;
        transition: opacity 600ms;
        text-decoration: none;
    }
    &__plein{
        position: absolute;
        background: linear-gradient(to bottom right, $couleursecondaire,$couleurprimaire);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-size: 25px;
        height: 0px;
        transition: height 700ms;
        text-decoration: none;
    }
}

#liencoeur4{
    text-decoration: none;
    &:hover > .coeur4__plein{
    height: 30px;
    }
    &:hover > .coeur4__vide{
    opacity:0;
    }
    &:visited > .coeur4__plein{
        height: 30px;    
    }
    &:visited > .coeur4__vide{
        opacity:0;
    }
}

.coeur4{
    position: relative;
    width: 25.08px;
    height: 30px;
    text-decoration: none;
    &__vide{
        color: black;
        opacity:1;
        position: absolute;
        font-size: 25px;
        height: 30px;
        transition: opacity 600ms;
        text-decoration: none;
    }
    &__plein{
        position: absolute;
        background: linear-gradient(to bottom right, $couleursecondaire,$couleurprimaire);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-size: 25px;
        height: 0px;
        transition: height 700ms;
        text-decoration: none;
    }
}

#liencoeur5{
    text-decoration: none;
    &:hover > .coeur5__plein{
    height: 30px;
    }
    &:hover > .coeur5__vide{
    opacity:0;
    }
    &:visited > .coeur5__plein{
        height: 30px;    
    }
    &:visited > .coeur5__vide{
        opacity:0;
    }
}

.coeur5{
    position: relative;
    width: 25.08px;
    height: 30px;
    text-decoration: none;
    &__vide{
        color: black;
        opacity:1;
        position: absolute;
        font-size: 25px;
        height: 30px;
        transition: opacity 600ms;
        text-decoration: none;
    }
    &__plein{
        position: absolute;
        background: linear-gradient(to bottom right, $couleursecondaire,$couleurprimaire);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-size: 25px;
        height: 0px;
        transition: height 700ms;
        text-decoration: none;
    }
}

.texte3{
    text-align: center;
    vertical-align: center;
    color: darken($couleurtertiaire, 30%);
    font-size: 15px;
    font-weight: 600;
}

.image1{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: 0px -50px;
}

.image2{
    height: auto;
    width: 100%;
    object-fit: cover;
    object-position: 0px -150px;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: darken($couleurfond_1, 70%);
    margin-top: 0px;
    padding-top: 10px;
    padding-left: 20px;
}

.titreohmyfood{
    font-family: $policetitre;
    color: white;
    font-size: 15px;
    font-weight:lighter;
}

.liste{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    list-style-type: none;
    color: white;
    font-size: 12px;
    padding-bottom: 20px;
    padding-left: 0px;
    line-height: 200%;
}

.contact{
    text-decoration: none;
    color: white;
    font-size: 12px;
}

    //             PAGE LA PALETTE DU GOUT                 //

    .fleche_gauche{
        position: absolute;
        top:13px;
        left:13px;
        font-size: 20px;
    }

    #palettedugout{
        display: flex;
        flex-direction: column;
        background-color: #F2F2F2;
    }

    .menu{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: $couleurfond_1;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        position: relative;
        top: -50px;
            &__titre{
                width: 90%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                &__titre1{
                    font-family: $policetitre;
                    font-size: 30px;
                }
            }
            &__titre2{
                font-size: 20px;
                font-weight:lighter;
            }
            &__span{
                font-size: 20px;
                border-bottom: solid;
                border-bottom-color: $couleurtertiaire;
                border-bottom-width: 4px;
            }
            &__section{
                width: 90%;
            }
            &__plat{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                overflow: hidden;
                width: 337.5px;
                margin: auto;
                background-color: white;
                border-radius: 20px;
                height: 80px;
                margin-bottom: 15px;
                @include shadow();
                 &:hover > .menu__validation{
                    width: 70px;
                }
                &:hover > .menu__validation > span{
                    display: block;
                    transform : rotate(0deg);
                }
            }
            &__description{
                width: 273.453px;
                height: 80px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow:ellipsis;
                padding-left: 10px;
            }
            &__titre3{
                font-size: 20px;
                margin-bottom: 0px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            &__detail{
                margin-top: 5px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            &__prix{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                width: 50px;
                text-align: center;
                font-weight: bold;
            }
            &__validation{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: $couleurtertiaire;
                color: white;
                font-size: 25px;
                width:0px;
                border-bottom-right-radius: 20px;
                border-top-right-radius: 20px;
                transition: width 400ms;
                & > span {
                    transform : rotate(-360deg);
                    transition : transform 400ms ease-in-out;
                    transition-delay: 100ms;
                }
            }

    }

    .apparition1{
        animation: apparition 1s;
    }

    .apparition2{
        animation: apparition 2s;
    }

    .apparition3{
        animation: apparition 3s;
    }

    .apparition4{
        animation: apparition 4s;
    }


    //               CREATION DU LOADING SPINNER             //

    .cache{
        position: absolute;
        z-index: -10;
        width: 100vw;
        height: 100vh;
        background-color: transparent;
        animation: disparition_loader 2.5s forwards;
    }

    .chargement{
        border: 10px solid $couleurprimaire;
        border-top : 10px solid $couleursecondaire;
        border-bottom: 10px solid $couleursecondaire;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        animation: spin 1s linear infinite;

        // placement du spinner // 
        position: absolute;
        top:0;
        left:0;
        bottom:0;
        right: 0;
        margin: auto;
        z-index: 20;
    }

    .main{
        z-index: 10;
        display: block;
        position: relative;
        animation: apparition_main 3s forwards;
    }

//         PAGE LA NOTE ENCHANTEE                            //


#lanoteenchantee{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
}

.contenant_image{
    height: 275px;
    width: 100%;
    overflow: hidden;
}

.image_ajustee{
    width: 100%;
    object-fit: cover;
    object-position: 0px  -100px;
}

//         Ajustement de l'image LA PALETTE DU GOUT             //

.contenant_image2{
    height: 250px;
    width: 100%;
    overflow: hidden;
}

.image_ajustee2{
    width: 100%;
    object-fit: cover;
    object-position: 0px 0px;
}

//         Ajustement de l'image A LA FRANCAISE             //

.contenant_image3{
    height: 250px;
    width: 100%;
    overflow: hidden;
}

.image_ajustee3{
    width: 100%;
    object-fit: cover;
    object-position: 0px 0px;
}


//         Ajustement de l'image DELICE DES SENS            //

.contenant_image4{
    height: 250px;
    width: 100%;
    overflow: hidden;
}

.image_ajustee4{
    width: 100%;
    object-fit: cover;
    object-position: 0px 0px;
}

//        PAGE A LA FRANCAISE                               //

#alafrancaise{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
}

//        PAGE LE DELICE DES SENS                           //

#ledelicedessens{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
}

